pkgbase = ltspice
	pkgdesc = SPICE simulator, schematic capture and waveform viewer. Installation based on Field Update Utility.
	pkgver = 17.1.14.20230928.13
	pkgrel = 1
	url = http://www.linear.com/designtools/software/
	arch = x86_64
	license = custom
	makedepends = curl
	makedepends = icoutils
	makedepends = imagemagick
	makedepends = gendesk
	makedepends = msitools
	depends = wine
	source = ltspice.sh
	source = ltspice-help.sh
	source = https://ltspice.analog.com/software/LTspice64.msi
	sha256sums = 69080c30dee9c0141bbe04684c31f1896565778cbe3705cd4eb0996ed31d6c2e
	sha256sums = 25fdb185aea9752b1739d5787f9c180ddd5be728f25ebb6877075be272e79195
	sha256sums = 6718abbd4f4faefe375c579de775151525a9a1cca821041796588a6ec05a5c99

pkgname = ltspice
