pkgbase = ltspice
	pkgdesc = SPICE simulator, schematic capture and waveform viewer. Installation based on Field Update Utility.
	pkgver = 17.1.14.20230928.13
	pkgrel = 1
	url = http://www.linear.com/designtools/software/
	arch = x86_64
	license = custom
	makedepends = curl
	makedepends = icoutils
	makedepends = imagemagick
	makedepends = gendesk
	makedepends = msitools
	depends = wine
	source = ltspice.sh
	source = ltspice-help.sh
	source = https://ltspice.analog.com/software/LTspice64.msi
	sha256sums = 4d052e992f53fcbd72df1c1a649b5ee0bffcd4598bc04fcb53bfe6a800488beb
	sha256sums = b1e504ff880c3e28835486a4181e73144db2e603387f06c4fcc2c6f16607df48
	sha256sums = 6718abbd4f4faefe375c579de775151525a9a1cca821041796588a6ec05a5c99

pkgname = ltspice
